$speed:0.75s;
$menuwidth:250px;
$menuheight:350px;
$holderwidth:50px;

$maincolor:#000;
$lightcolor:#101010;

body {
  font-family:Arial,Helvetica;
  text-transform:uppercase;
  font-size:12px;
  

}

#menu
  {
  color:white;
  width:$menuwidth;
  height:$menuheight;
  position: fixed;
  top:50px;
          
  right:-1*($menuwidth - $holderwidth);
  
  transition:all $speed ease-in-out;
  
  -webkit-perspective:300px;
  -webkit-perspective-origin:50% 50%;
  transform:translate3d(0px,0px,0px) rotateY(0deg);
  
  .holder {
    width:$holderwidth;
    height:100%;
    background-color:$maincolor;
    position:absolute;
    top:0px;
    left:0px;
    ul {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      transition:all $speed ease-in-out;
        li{
          transition:all $speed ease-in-out;
          line-height:30px;
          display:block;
          width:100%;
          text-align:center;
          border-bottom:1px solid #1a1a1a;
            &:last-child {
              border:none;
            }          
          }
    }    
    
  }

  .content
  {
    position:absolute;
    width:$menuwidth - $holderwidth;
    height:100%;
    color:white;
    top:0px;
    left:$holderwidth;
    background-color:$lightcolor;
    transition:all $speed ease-in-out;
    transform-origin:0 50%;
    transform:translate3d(0px,0px,0px) rotateY(90deg);
    transform-style: preserve-3d;
    ul {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      transition:all $speed ease-in-out;
        li{
          transition:all $speed ease-in-out;
          line-height:30px;
          display:block;
          width:100%;
          
          border-bottom:1px solid #1a1a1a;
          padding-left:50%;
          color:$lightcolor;
            
          &:last-child {
              border-bottom:none;
            }
                     
            border-left:5px solid $maincolor;
            cursor:pointer;
            &:hover {
              border-left:5px solid red;
              background-color:#111;
            }
          }
    }
    
  }    
    
    
    &.hovered{
      right:-1px;
      transform:translate3d(0px,0px,0px) rotateY(0deg);
      
      
      .holder {
            ul {

        li{
          line-height:50px;
        
          }
        }
      }
      .content {
        
        transform:translate3d(0px,0px,0px) rotateY(0deg);
        background-color:#000000;

        ul {

          li{
            line-height:50px;
            padding-left:10px;
            color:#ffffff;
            }
        }
        
        
      }
    }
    
  }


